*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  position: fixed;
  width: 100%;
  z-index: 999;
}
.background{
  background-color: white;
}
ul{
  list-style: none;
}
nav ul li{
  display: inline-block;
  padding-left: 12px;
  padding-top: 16px;
}
.paddingnav{
  padding-top: 12px;
}
.button1{
  background-color: white;
  color: blue;
  border-radius: 12px;
  padding: 12px;
}
.distanza{
  padding-top: 144px;
}
.background2{
  height: 200%;
  background-image:url(img/home.jpg);
}
.paddingh1{
  padding-top: 144px;
}
h1{
  color: white;
  font-size: 72px;
}
.distanza .container .row .col-lg-6{
  color: white;
}
h3{
  color: black;
  font-size: 24px;
  text-align: center;
}
h4{
  color: blue;
  font-size: 24px;
  text-align: center;
}
.button2{
  width: 100%;
  background-color: blue;
  padding: 12px;
}
.button2 span{
  color: white;
}
.button3{
  width: 100%;
  background-color: white;
  padding: 12px;
}
.button3 span{
  color: black;
}
.row .col-xs-12 p{
  text-align: center;
  color: black;
  padding-top: 12px;
}
.distanza1{
  padding-top: 48px;
  padding-bottom: 76px;
}
.background3{
  background-color: #f3f5f9
}
h5{
  text-align: center;
  color: grey;
  padding-top: 48px;
  padding-bottom: 24px;
}
.col-lg-1 img{
  padding-bottom: 24px;
}
.centratura{
  text-align: center;
}
h2{
  color: #031b4e;
  text-align: center;
  padding-top: 24px;
}
.bordo ul li{
  border-left: 2px solid black;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 24px;
}
.sinistra h4{
  text-align: left;
  color: #031b4e;
}
.sinistra img{
  padding-top: 24px;
}
.sinistra p{
  text-align: left;
  color: grey;
}
i{
  font-size: 24px;
  padding: 12px;
}
ul ol{
  width: 10px;
  border: 2px solid #0069ff;
  border-radius: 24px;
  height: 10px;
  margin: 0 6px;
  opacity: 1;
  display: inline-block;
  padding-right: 12px;
}
.background4{
  background-color: #063c94;
}
.background4 .bianco h2{
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
}
.background4 .row ul li{
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid white;
}
.background4 .row ul li span{
  padding-left: 24px;
}
.background4 .row ul li a{
  color: #055ded;
  float: right;
}
.backgroundbianco div{
  padding-bottom: 24px;
}
.row .centratura i{
  padding-top: 72px;
}
.background5{
  height: 264px;
  background-image:url(img/home.jpg);
}
.background5 .bianco h2{
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
}
.background6{
  background: #0545ab;
}
.background6 span{
  color: white;
  text-align: center;
}
.background6 i{
  color: white;
  text-align: center;
}
.background6 ul li h4{
  color: white;
  text-align: center;
}
.background6 ul li{
  color: white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px){
  img{
    max-width: 100%;
  }
  .row .col-lg-offset-1 i{
    display: none;
  }
  .row .col-lg-1 i{
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  img{
    max-width: 80%;
  }
  .row .col-lg-offset-1 i{
    display: none;
  }
  .row .col-lg-1 i{
    display: none;
  }
}
